@model Movietoon.Models.Customer
@{
    ViewBag.Title = "Save";
}

<h2>Save</h2>

@using (Html.BeginForm("Save", "Customers"))
{

    @Html.LabelFor(c => c.FirstName)
    @Html.TextAreaFor(c => c.FirstName)
    @Html.ValidationMessageFor(c => c.FirstName)

    @Html.LabelFor(c => c.LastName)
    @Html.TextAreaFor(c => c.LastName)
    @Html.ValidationMessageFor(c => c.LastName)

    @Html.LabelFor(c => c.YearOfBirth)
    @Html.TextAreaFor(c => c.YearOfBirth)
    @Html.ValidationMessageFor(c => c.YearOfBirth)

    @Html.LabelFor(c => c.Email)
    @Html.TextAreaFor(c => c.Email)
    @Html.ValidationMessageFor(c => c.Email)

    @Html.LabelFor(c => c.MobilePhone)
    @Html.TextAreaFor(c => c.MobilePhone)
    @Html.ValidationMessageFor(c => c.MobilePhone)



}

